@font-face {
  font-family: 'Wanted Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 400 1000;
  src: url('wanted-sans/fonts/webfonts/variable/complete/woff2/WantedSansVariable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 45 920;
  src: url('pretendard/dist/web/variable/woff2/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-700-normal.woff2') format('woff2');
}
